<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.a000webhostapp.mymuseum">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Vista.Splashscreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Vista.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Vista.InventoABM.NuevoInventoActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Vista.InventoABM.EditarInventoActivity"/>
        <activity android:name=".Vista.InventoABM.EliminarInventoActivity"/>
        <activity android:name=".Vista.InventorABM.NuevoInventorActivity"/>
        <activity android:name=".Vista.InventorABM.EditarInventorActivity"/>
        <activity android:name=".Vista.InventorABM.EliminarInventorActivity"/>
        <activity android:name=".Vista.PeriodoABM.NuevoPeriodoActivity"/>
        <activity android:name=".Vista.PeriodoABM.EditarPeriodoActivity"/>
        <activity android:name=".Vista.PeriodoABM.EliminarPeriodoActivity"/>
        <activity android:name=".Vista.PinturaABM.NuevaPinturaActivity"/>
        <activity android:name=".Vista.PinturaABM.EditarPinturaActivity"/>
        <activity android:name=".Vista.PinturaABM.EliminarPinturaActivity"/>
        <activity android:name=".Vista.PintorABM.NuevoPintorActivity"/>
        <activity android:name=".Vista.PintorABM.EditarPintorActivity"/>
        <activity android:name=".Vista.PintorABM.EliminarPintorActivity"/>
        <activity android:name=".Vista.TrasladoABM.NuevoTrasladoActivity"/>
        <activity android:name=".Vista.TrasladoABM.EliminarTrasladoActivity"/>
        <activity android:name=".Vista.ElegirEditarPersonaActivity"/>
        <activity android:name=".Vista.ElegirEliminarPersonaActivity"/>
        <activity android:name=".Vista.ElegirNuevoObjetoActivity"/>
        <activity android:name=".Vista.ElegirEliminarObjetoActivity"/>
        <activity android:name=".Vista.ArticuloInventoActivity"/>
        <activity android:name=".Vista.ArticuloPinturaActivity"/>
        <activity android:name=".Vista.ArticuloObjetoActivity"/>
        <activity android:name=".Vista.BuscarObjetoActivity"/>
        <activity android:name=".Vista.HistorialPinturaActivity"/>
        <activity android:name=".Vista.LectorQRActivity">
        </activity>
        <activity android:name=".Vista.ElegirNuevaPersonaActivity">
        </activity>
    </application>

</manifest>